<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAccountService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IAccountService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9155/AccountService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAccountService" contract="AccountService.IAccountService"
                name="BasicHttpBinding_IAccountService" />
            <endpoint address="net.tcp://localhost:8090/AccountService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IAccountService" contract="AccountService.IAccountService"
                name="NetTcpBinding_IAccountService">
                <identity>
                    <userPrincipalName value="DESKTOP-QL75AH2\almog" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>